.bungkus{
    width: 100%;
    height: fit-content;
    /* border: 1px black solid; */
}

.konten-banner{
    width: 100%;
    height: 50%;
    /* border: 1px black solid; */
}

/* .edit-footer{
    width: 100%;
    height: auto;
    border: 1px red solid;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 8px;
}

.konten-footer{
    width: 100%;
    height: 50%;
    border: 1px black solid;
} */

.txt{
    color: #13005A;
}

.footer{
    height: 55px;
    background-color: #03C988;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.lingkaran{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #03C988;
    height: 55px;
    width: 55px;
}

.area-kontak{
    width: auto;
    height: 100%;
    display: flex;
    text-align: center;
    border: 1px black solid;
}

.flex{
    display: flex;
    width: 100%;
}

.card-kiri{
    width: 50%;
    height: 100%;
    /* border: 1px black solid; */
    
}

img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-kanan{
    width: 50%;
    height: 100%;
    /* border: 1px black solid; */
    justify-content: center;
    align-items: center;
    
}

.card-kanan-atas{
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
    /* margin-bottom: 20px; */
    text-align: right;
}

.card-kanan-tengah{
    width: 100%;
    height: auto;
    /* border: 1px rgb(0, 255, 149) solid; */
    text-align: right;
    top: 1;
    margin-top: 100px;
}

.card-kanan-bawah{
    width: 100%;
    height: auto;
    /* border: 1px rgb(145, 255, 0) solid; */
    text-align: right;
}

#style-3::-webkit-scrollbar-track
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{   
  border-radius: 10px;
  background-color: #8a8a8a;
}

